html{
	height: 100% !important; width: 100% !important; margin:0px; padding:0px;
}

body{
	font-size: 16px;
	font-family: 'Raleway', 'Arial';
	height: 200% !important;
	width: 100% !important;
	margin: 0;
	width:0px;

}
/**{
	border: 1px solid black;
}*/
.page-container{
	height: 50% !important;
	width: 100% !important;
}
.background-image-project{
	width: 100%;
    height: 100%;
    background-image: url("coffee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.background-image-about{
	width: 100%;
    height: 100%;
    background-image: url("rocks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.background-image-header{
    width: 100%;
    height: 100%;
    background-image: url("headerbackground-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}​

.header{
	margin-top: ;
}
.header h1{
	text-align: center;
	margin-top: 0;

}
.header h1 a{
	font-size: 6rem;
	color: #464f54;
	
}
.header h3{
	color: 	#69666b;
	font-size: 3rem;
	font-style: italic;
	text-align: center;
}
.header #tom{
	color: #1f3c40;
}
.navbar-wrapper{
	margin-top: 50px;
	text-align: center;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-nav a:first-child{
	margin-left: 0px;
}
.navbar .navbar-nav a{
	margin-left: 40px;
	color: #f6f8f8;
}


