html{
	height: 100% !important; width: 100% !important; margin:0px; padding:0px;
}

body{
	font-size: 16px;
	font-family: 'Raleway', 'Arial';
	height: 200% !important;
	width: 100% !important;
	margin: 0;
	width:0px;

}
/**{
	border: 1px solid black;
}*/

.white-text{
	color: #f6f8f8;
}

.page-container{
	height: 50% !important;
	width: 100% !important;
}

.background-image-project{
	position: absolute;
	width: 100%;
    height: 100%;
    background: linear-gradient(
    	rgba(255,255,255,0),
    	rgba(0,0,0,.69)
    	),
    url("boat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.background-image-about{
	position:absolute;
	width: 100%;
    height: 100%;
    background: 
    	linear-gradient(rgba(0,0,0,.69),
    		rgba(255,255,255,0)
    		
    		),
    	url("coffee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.background-image-header{
    width: 100%;
    height: 100%;
    background-image: url("headerbackground-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}​

.header{
	margin-top: ;
}
.header h1{
	text-align: center;
	margin-top: 0;

}
.header h1 a{
	font-size: 6rem;
	color: #464f54;
	
}
.header h3{
	color: 	#69666b;
	font-size: 3rem;
	font-style: italic;
	text-align: center;
}
.header #tom{
	color: #1f3c40;
}
.navbar-wrapper{
	margin-top: 50px;
	text-align: center;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-nav a:first-child{
	margin-left: 0px;
}
.navbar .navbar-nav a{
	margin-left: 40px;
	color: #f6f8f8;
}

 /* About me page! */
.aboutContainer{
	position: absolute;
}
.aboutContainer h1{
	font-size: 5rem;
	margin: 50px 50px 50px 10px;
}
.aboutContainer ul{
	line-height: 2;
	font-size: 2rem;
	margin-top: 10px;
}
.aboutContainer ul a{
	color: #B0B2A6;
}
.round-image{
	border-radius: 100px;
	border: 5px solid #ccccd8;
}

/* Project page! */
		
.projectContainer{
	position: absolute;
}
.projectContainer h1{
	font-size: 5rem;
}
